{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div>
<img src="http://upload.wikimedia.org/wikipedia/en/2/28/Ucsc_fiatslug.png"></div>
<h1>{{=display_title}}</h1>
{{=aretheysame}}



<!-- You need to put here buttons to see the revision history (to implement later),
and to edit (to implement now). -->
{{if editing:}}
{{=content}}
{{else:}}
{{=represent_wiki(content)}}
<p>{{=A('Edit', _class='btn', _href=URL('default', 'index', args=[title], vars=dict(edit='true')))}}</p>
{{pass}}
